<div class="container border border-dark border-2 mt-2 p-2 ">
    <div class="row border-dashed m-2 ">
        <div class="row m-1 p-2">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/images/1.jpg" class="d-block w-100" alt="...">

                     </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/3.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/4.jpg" class="d-block w-100" alt="...">
                    </div>

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row border-dashed m-2 p-2 ">
        <div class= " col-md-12   col-lg-5  col-xl-4 p-3 text-center">
            <!-- <img class="rounded-circle border-dashed" src="https://via.placeholder.com/200x201" width="250" height="250" alt=""> -->
            <img class="rounded-circle border-dashed" src="https://media-exp1.licdn.com/dms/image/C4E35AQFytcVD6JIx9Q/profile-framedphoto-shrink_100_100/0/1620868797487?e=1661090400&v=beta&t=byW9HKV5FRGNF340TgX4_Sa7Xfx_AsvsHWyzYCj0H70" width="250" height="250" alt="">
        </div>
        <div class=" col-md-12 col-lg-7   col-xl-8 mx-auto   ">
            <div class="row  border-dashed p-2 m-3 ">
                <h1 >Seyit Erdemir</h1>
            </div> 
            <div class="row   border-dashed p-2 m-3  ">
                <p class="fs-6">{{locale.about}}</p>
            </div>
        </div>
    </div>


</div>