<!--add message  Modal -->
<div class="modal fade" id="exampleModalAddMessage" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto p-5  register">
                        <form #addMessageForm="ngForm" (ngSubmit)="onAddMessageSubmit(addMessageForm)">

                            <div class="mb-3">
                                <label class="form-label">{{locale.name}}</label>
                                <input ngModel value="" type="text" name="name" class="form-control">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">{{locale.email}}</label>
                                <input ngModel type="text" name="email" class="form-control" value="">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">{{locale.phone}}</label>
                                <input ngModel type="phone" name="phone" class="form-control" value="">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">{{locale.message}}</label>
                                <input ngModel type="text" name="message" class="form-control" value="">
                            </div>
                            <div class="text-center   ">
                                <button type="submit" class="btn btn-warning w-50">{{locale.add}}</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container border border-dark border-2 mt-2 p-2 ">
    <div class="row border-dashed m-2 ">
        <div class="row border-2 p-4  ">
            <div class="  border-dashed">
                <div class="row p-2">
                    <div class="col-6 col-ms-12 p-2  ">
                        <button class="btn btn-primary " (click)="changeView(3);"><i
                                class="fa-solid fa-grip  h5 "></i></button>
                        <button class="btn btn-primary mx-2" (click)="changeView(2);"><i
                                class="fa-solid fa-grip-vertical  h5"></i></button>
                        <button class="btn btn-primary " (click)="changeView(1);"><i
                                class="fa-solid fa-grip-lines  h5"></i></button>

                        <button class="btn btn-warning mx-2    " data-bs-toggle="modal"
                            data-bs-target="#exampleModalAddMessage">
                            <i class="fa-regular fa-square-plus  h5"></i>
                        </button>
                    </div>

                    <div class="col-6 p-2  col-ms-12  text-center">
                        <input class="form-control p-2 border-dashed" type="text" placeholder="{{locale.search}}"
                            [(ngModel)]="filterText" (ngModelChange)="onInputChange()">
                        <span class="text-muted" *ngIf="filterText"> {{locale.search}} : {{filterText}}</span>
                    </div>


                </div>
            </div>

        </div>


        <ng-template #templateError>
            <div class="mx-auto text-center col-4 alert alert-danger">{{locale.notMessage}}</div>
        </ng-template>

        <div class="row  " *ngIf=" filterMessages.length> 0;else templateError">

            <ng-container *ngIf="data == 3;else second">
                <div class="col-12    col-lg-6   col-xl-4  mt-4 p-2" *ngFor="let message of filterMessages">
                    <div class="card p-3 ">
                        <div class="card-body">
                            <p class="card-text">{{locale.name}} : {{message.name}} </p>
                            <p class="card-text">{{locale.email}} : {{message.email}} </p>
                            <p class="card-text">{{locale.phone}} : {{message.phone}} </p>
                            <p class="card-text">{{locale.message}} : {{message.message}} </p>
                        </div>
                        <div class="  d-flex justify-content-end">
                            <a *ngIf="message.phone.length==11; " href="tel:+{{message.phone}}"><i
                                    class="fa-solid fa-square-phone h1  mx-1"></i></a>
                            <a *ngIf="message.message; "
                                href="whatsapp://send?abid={{message.phone}}&text={{message.message}}"><i
                                    class="fa-brands fa-square-whatsapp h1"></i></a>
                        </div>
                    </div>
                </div>
            </ng-container>



            <ng-template #second>
                <ng-container *ngIf="data == 2;else third">
                    <div class="col-12    col-lg-6   col-xl-6  mt-4 p-2" *ngFor="let message of filterMessages">
                        <div class="card p-3 ">
                            <div class="card-body">
                                <p class="card-text">{{locale.name}}  : {{message.name}} </p>
                                <p class="card-text">{{locale.email}} : {{message.email}} </p>
                                <p class="card-text">{{locale.phone}} : {{message.phone}} </p>
                                <p class="card-text">{{locale.message}} : {{message.message}} </p>
                            </div>
                            <div class="  d-flex justify-content-end">
                                <a *ngIf="message.phone.length==11; " href="tel:+{{message.phone}}"><i
                                        class="fa-solid fa-square-phone h1  mx-1"></i></a>
                                <a *ngIf="message.message; "
                                    href="whatsapp://send?abid={{message.phone}}&text={{message.message}}"><i
                                        class="fa-brands fa-square-whatsapp h1"></i></a>
                            </div>
                        </div>
                    </div>

                </ng-container>
            </ng-template>

            <ng-template #third>
                <div class="col-12    col-lg-12  col-xl-12  mt-4 p-2" *ngFor="let message of filterMessages">
                    <div class="card p-1 ">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-ms-12 col-lg-6 col-xl-3">
                                    <p class="card-text">{{locale.name}} : {{message.name}} </p>
                                </div>
                                <div class="col-ms-12 col-lg-6 col-xl-3">
                                    <p class="card-text">{{locale.email}} : {{message.email}} </p>
                                </div>
                                <div class="col-ms-12 col-lg-6 col-xl-3">
                                    <p class="card-text">{{locale.phone}} : {{message.phone}} </p>
                                </div>
                                <div class="col-ms-12 col-lg-6 col-xl-3">
                                    <p class="card-text">{{locale.message}} : {{message.message}} </p>
                                </div>
                            </div>

                            <div class="  d-flex justify-content-end mt-2">
                                <a arget="_blank" *ngIf="message.phone.length==11; " href="tel:+{{message.phone}}"><i
                                        class="fa-solid fa-square-phone h1  mx-1"></i></a>
                                <a target="_blank" *ngIf="message.message; "
                                    href="https://wa.me/{{message.phone}}&text={{message.message}}"><i
                                        class="fa-brands fa-square-whatsapp h1"></i></a>
                            </div>


                        </div>

                    </div>
                </div>


            </ng-template>
        </div>


    </div>
</div>